.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    background: linear-gradient(rgb(208, 157, 235),rgb(152, 106, 236));
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
}

.nav-item {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #6c086cd7;
}

.nav-item:hover {
    background-color: rgba(58, 12, 119, 0.2);
}

.scrolled {
    background-color: #f4c5838e; /* Change background color when scrolled */
}

.content {
    padding-top: 50px;
}